{% extends "base.html" %}
{% block content %}
    <h1>To-Do list</h1>
    {% for task in tasks %}
        <p>{{ task.author }}<a href="{% url "task_view" task.id %}"> Описание: {{ task.description }}</a><br/>
           Статус: {{ task.status }}<br/>
            Дата: {{ task.date_done }}<br/>
            </p>
        <br/>
        <br/>
    {% endfor %}
    <a href="{% url "task_add"  %}">Создать задачу</a>
{% endblock %}


{#{% extends 'base.html' %}#}
{##}
{#{% block menu %}<li><a href="{% url "task_list" %}">Создать задачу </a></li>{% endblock menu %}#}
{##}
{#{% block description %}Все статьи{% endblock description %}#}
{##}
{#{% block page_header %}Все статьи{% endblock page_header %}#}
{##}
{#{% block content %}#}
{#    {% if not tasks %}#}
{#        <h2>НЕТ СТАТЕЙ</h2>#}
{#    {% endif %}#}
{##}
{#    {% for task in tasks %}  {# Перебираем список статей циклом #}
        {# Создаём абзац, в котором отображем автора статьи и заголовок статьи, обёрнутый в ссылку, #}
        {# которая ведёт на страницу статьи #}
{#        <p>{{ task.description }}: <a href="{% url "task_view" task.id %}">{{ task.description }}</a></p>#}
{#    {% endfor %}#}
{#{% endblock content %}#}