{% extends "base.html" %}
{#{% block nav %}#}
{#    <a class="navbar-brand" href="{% url "task_add" %}">  Удалить </a>#}
{#{% endblock %}#}
{% block content %}
    <br>
    <br>
        <h1>Task {{ task.id }}</h1>
    <p>Description: {{ task.description}}</p>
        <p>Detailed description: {{ task.detailed_description}}</p>
    <p>Status: {{ task.status }}</p>
    {%if task.date_done == None %}
         <p>дату не вводили <p>
    {% else %}
        <p>Data: {{task.date_done}} </p>
    {% endif %}
    <a href="{% url "task_list" %}">Главная страница</a>
{% endblock %}
